version: '3.8'

services:
  app:
    container_name: bikers_app
    image: ghcr.io/mansaoferta2026/bikers:latest
    # build: 
    #   context: .
    #   dockerfile: Dockerfile
    ports:
      - "8080:80"
    restart: always
    env_file:
      - .env
